body {
  background-color: #edeeea;
  color: #292737;
}
.head {
  border-bottom: 10px solid #ed9c7b;
}
.head h1, .head h2 {
  font-weight: bold;
}

#answers {
  width: 100%;
  margin-bottom: 20px;
}
.animal {
  height: 100px;
  border-radius: 20px;
  border: 3px solid #ed9c7b;
  cursor: pointer;
}
.animal .image {
  float: left;
  padding: 7px;
}
.animal .image img {
  background: #fff;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 5px solid #ee642e;
}

#start {
  margin-top: 30px;
}
#play-again, #start {
  background: #ed9c7b;
  border-color: #ee642e;
}
#play-again:active, #play-again:focus, #start:active, #start:focus {
  box-shadow: none;
  outline: none;
}
#play-again .glyphicon {
  padding: 0 5px;
}
