<!DOCTYPE html>
<html>
<head>
  <title>TierstimmenQuiz</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

<header class="head">
  <div class="container">
    <h1>TierstimmenQuiz <small>Welches Tier ist es?</small></h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 id="question-number" class="hidden"><span class="current">0</span>/<span class="total">0</span></h3>
      <div id="answers" class="clearfix row">

      </div>
      <button id="play-again" class="btn btn-primary hidden"><span class="glyphicon glyphicon-volume-up"></span>Erneut abspielen</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Highscores</h3>
    </div>
  </div>
</div>

<script id="answer-template" type="text/template">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><%= title %></h4>
        </div>
        <div class="modal-body">
          <p>blabla, Tier-Infos...</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary next-question">N&auml;chste Frage</button>
        </div>
      </div>
    </div>
  </div>
</script>

<script id="animal-template" type="text/template">
  <div class="animal col-md-6" id="animal-<%= cid %>">
    <div class="image">
      <img class="img-rounded" src="<%= image %>">
    </div>
    <div class="name">
      <h4><%= name %></h4>
    </div>
  </div>
</script>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/underscore-min.js"></script>
<script type="text/javascript" src="js/backbone-min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/quiz.js"></script>
</body>
</html>
